@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


:root{
    --color-dark: #222;
    --nav-active-text: #C0AEAB;
    --background-second:#c0aeab7a;
    --main-text: #555;
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-dark);
    padding-bottom: 20px;
    font-family: 'Noto Serif', serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.nav{
    position: fixed;
    background-color: var(--color-dark);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav.active a{
    color: var(--color-dark);
}

.nav.active .container {
    padding: 10px 0;
}

.nav a.current, .nav a:hover {
    color: var(--nav-active-text);
    font-weight: bold;
}

.hero{
    background-image: url(../images/first_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.hero h1{
    font-size: 46px;
    
}

.hero p{
    font-size: 26px;
    letter-spacing: 1px;
}

.work{
    padding-top: 80px;
    text-align: left;
}

.content h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.content h3,
.content h2{
font-size: 150%;
margin: 20px 0;
}

.content p, h4{
color: var(--main-text);
line-height: 30px;
letter-spacing: 1.2px;
}

.content .row.main,
.achievemants .row.main{
    border-top: 2px solid var(--color-dark);
}

.content .row{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;
}

.content .first-col{
    width: 10%;
}
.content .second-col{
    width: 85%;
}
.content a{
    text-decoration: none;
    color: var(--main-text);
}
.content a:hover {
    color: var(--nav-active-text);
    font-weight: bold;
}

.about-main{
    display: flex;
}
.work h1,
.about h1{
    font-size: 46px;
}
.photo img{
    width: 100%;
    margin: 10px;
}

.education{
    background-color: var(--background-second);
    padding: 20px;
}
.container .achievemants .row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;
}

.achievemants h1{
    margin-top: 20px;
}

.container.panel-main{
    display: flex;
    width: 90vw;
    padding-top: 30px;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
}

.panel.active{
    flex: 4;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.work img{
    width: 100%;
    z-index: -2;
}

.work img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: -1;
}

.img {
    background-image: url(../images/2022-07-10_17-10-21.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.work a{
    width: normal;
    text-decoration: none;
}

.work .row {
    display: flex;
}

.work .col {
    width: 50%;
}

.work .btn{
    background: white;
    color: var(--main-text);
    border: 2px solid var(--main-text);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.work .btn:hover {
    background:var(--background-second);
    color: var(--main-text);
}


footer {
    display: flex;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 2px solid var(--nav-active-text);
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;

}

footer h4 {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
}

footer a {
    color: var(--color-dark);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

footer a:hover {
    color: var(--nav-active-text);
    font-weight: bold;
}

footer p{
    color: #222;
    line-height: 30px;
    letter-spacing: 1.2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
}

footer .social-links a{
    margin: 0;
    color: var(--color-dark);
    background: white;
    padding: 10px 14px;
    border-radius: 50px;
    font-size: 18px;
    transition: all 10ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background: var(--nav-active-text);
    border-radius: 50px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width:480px) {
    .container.panel-main {
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}

@media(max-width:1000px) {
    .nav{
    display: none;
    }

.text {
    text-transform: uppercase;
}

.nav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.hamburger {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.hamburger.visible {
    transform: translateX(0);
}

.nav-black {
    background-color: var(--main-text);
    width: 60%;
    max-width: 480px;
    min-width: 320px;
    transition-delay: 0.4s;
}

.nav-black.hamburger.visible {
    transition-delay: 0s;
}

.nav-red {
    background-color: var(--nav-active-text);
    width: 95%;
    transition-delay: 0.2s;
}

.nav-red.hamburger.visible {
    transition-delay: 0.2s;
}

.nav-white {
    background-color: #fff;
    width: 95%;
    padding: 40px;
    position: relative;
    transition-delay: 0s;
}

.nav-white.hamburger.visible {
    transition-delay: 0.4s;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 30px;
    color: rgb(184, 184, 184);
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    margin: 20px 0;
}

.list li a {
    color: rgb(34, 34, 34);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.list ul {
    list-style-type: none;
    padding-left: 20px;
}

.content .first-col {
    width: 40%;
}

.content .second-col {
    width: 100%;
}

.about-main {
    display: block;
}

.work .row {
    display: block;
}

.work .col {
    width: 100%;
}

}